@media (max-width: 991px) {
    .download-btn-scr {
        margin-bottom: 30px;
    }
    .to-halloween {
        display: none;
    }
    .featuring-post-home {
        width: 100%!important;
        height: 420px;
        margin: 0;
        margin-bottom: 10px!important;
    }
    .featuring-post-home .big-el-news.item .exc-action-name {
        top: -50px;
        line-height: 30px;
        font-size: 25px;
        padding-right: 30px;
    }
    .featuring-post-home .owl-dots {
        bottom: 30px;
    }
    .featuring-post-home-others {
        width: 100%!important;
        height: auto;
        margin: 0;
    }
    /*header and footer*/
    header#header-tanki {
        display: none;
    }

    .header-tanki-mobile {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 999;
        height: 75px;
        transition: 0.6s;
    }

    .menu-mobile {
        background: url(../img/menu.svg);
        width: 28px;
        height: 26px;
        background-repeat: no-repeat;
        background-position-y: center;
    }

    .container {
        padding: 10px;
    }

    .container-add-mobile {
        display: flex;
        align-items: center;
    }

    .flex-container-space {
        flex-wrap: nowrap;
    }

    .lang-mobile {
        margin-right: 30px;
    }

    .sidebar-footer.sf-col-1 {
        display: none;
    }

    .sf-col-2 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 1em;
        order: 2;
    }

    .sidebar-footer.sf-col-3 {
        order: 3;
        display: flex;
        justify-content: center;
        margin-top: 1em;
        flex-direction: column;
        align-items: center;
    }

    .sf-col-4 {
        order: 1;
    }

    footer .flex-container-space-top {
        align-items: center !important;
        justify-content: center !important;
    }

    .sf-col-4 {
        order: 1;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .g-play {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .sidebar-footer {
        width: 100%;
    }

    /*header and footer*/
    /*content*/
    .background-mx-video {
        display: none;
    }
    .home-screen-block {
        display: none;
    }

    .header-special .background-alpha {
        background: linear-gradient(180deg, rgba(65, 72, 97, 0.3), rgba(65, 72, 97, 0.3)), url(../img/mobile_bg.png) center top no-repeat, linear-gradient(180deg, #414861f2, #414861f5)!important;
    }

    .header-special .background-alpha::before{
        display: none;
    }
    .icon_mouse-container {
        position: relative;
    }
    .home-screen {
        display: flex;
        align-items: flex-end!important;
        position: relative;
        padding-bottom: 60px;
        margin-bottom: -60px;
    }

    /*content*/
    /*active-menu*/
    .active-mobile-menu .header-tanki-mobile .header-menu {
        display: flex;
        width: 100%;
    }

    .active-mobile-menu  .header-tanki-mobile .menu-menu_header-container {
        width: 100%;
    }
    .active-mobile-menu .header-tanki-mobile ul.main-menu li a {
        width: 100%;
        display: flex;
        padding: 16px;
        margin: 0;
        font-size: 18px;
    }
    .active-mobile-menu .header-tanki-mobile .header-menu-dropdown {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .active-mobile-menu .mobile-box-open-menu .main-menu ul.sub-menu {
        position: relative;
        top: 0;
        left: 0;
        background: none;
        width: 100%;
        margin-top: -5px;
    }
    .active-mobile-menu  .header-tanki-mobile li.menu-item {
        background: #838ba740;
        margin-bottom: 10px;
    }
    .active-mobile-menu .header-tanki-mobile .main-menu ul.sub-menu li a {
        width: 100%;
        background: none;
        display: flex;
        padding: 5px;
        margin: 0;
        margin-bottom: 0px;
        border: none;
        font-size: 16px;
    }
    .active-mobile-menu  .header-tanki-mobile .main-menu ul.sub-menu li {
        background: none;
        padding: 0 12px;
    }
    .active-mobile-menu .header-tanki-mobile .main-menu ul.sub-menu li a:hover {
        background: #ffffff1f;
    }
    .active-mobile-menu .mobile-box-open-menu .header-menu-dropdown::after {
        right: 20px;
        top: 27px;
        position: absolute;
    }
    .mobile-box-open-menu {
        margin-top: 1em;
    }
    .active-mobile-menu .mobile-box-open-menu {
        display: flex;
    }
    .active-mobile-menu .background-alpha-mobile {
        display: flex;
        background: #4b536dcf;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
        backdrop-filter: blur(20px);
    }

    .active-mobile-menu .menu-mobile {
        background: url(../img/close-menu-m.svg);
        width: 26px;
    }
    .header-sale {
        display: none!important;
    }
    .header-sale-block-active .content-tanki-template {
        margin-top: 0px!important;
    }
    .active-mobile-menu .header-tanki-mobile {
        display: flex;
        position: fixed;
        width: 100%;
        overflow: auto;
        height: 100%;
        backdrop-filter: blur(20px);
        background: #4b536dcf;
    }
    /*active-menu*/
    body div#content.home-page-content {
        padding-top: 5em!important;
    }
    .simple-news-el {
        width: 100%;
        margin: 5px 0;
    }
    .header-shrink-mobile {
        background: #4b536de8;
        box-shadow: 0px 0px 20px #1e2333bd;
    }
    div#support {
        display: none!important;
    }
    div#upbutton {
        display: none!important;
    }
    .modal iframe {
        height: 300px;
    }
    .modal {
        width: 100%!important;
        padding: 5px!important;
    }
    /*content*/
    .br-title-page {
        line-height: 40px;
        font-size: 38px;
        margin-bottom: 10px;
    }
    .breadcrumbs .row :last-child {
        display: none;
    }
    .breadcrumbs .row :nth-child(4) {
        display: none;
    }
    div#content {
        padding: 0em 0 3em 0!important;
    }
    .breadcrumbs {
        margin-bottom: 0em;
    }
    .search-block {
        display: none;
    }
    .mobile-box-open-menu  .search-block {
        display: flex;
        width: 100%;
    }
    .mobile-box-open-menu form#searchform {
        position: relative;
        width: 100%;
    }
    .mobile-box-open-menu {
        flex-direction: column;
    }
    .to_single_news-col,  .to_single_news-col-2 {
        width: 100%;
    }
    .to_single_news-col-2 {
        margin-top: 2em;
        padding-top: 2em;
        border-top: solid 1px #ffffff33;
    }
    .big-el-news, .news-plitka-el {
        width: 100%;
        height: 420px;
        margin: 0;
        margin-bottom: 10px!important;
    }
    .row.row-1 {
        height: auto!important;
    }
    .container.breadcrumb-info-bread {
        display: none;
    }
    .home-screen-gpay {
        display: flex;
        background: url(../img/gplay_mobile.png) no-repeat center, #000000;
        border-radius: 4px;
        height: 80px;
        width: 100%;
        cursor: pointer;
    }
    .icon_mouse {
        display: none;
    }
    .icon_mouse-down {
        margin-top: -15px;
    }
    .g-play-href {
        display: flex;
        width: 100%;
        margin-bottom: 1em;
    }
    .home-screen {
        display: flex;
        align-items: flex-end!important;
        position: relative;
        padding-bottom: 60px;
        margin-bottom: -60px;
    }
    /*content*/
}